block Menu
	ul#menu
		li.item.item01
			a(href="http:solopx.com")
				| home
		li.item.item02
			a(href="http:solopx.com")
				| store
		li.item.item03.brand
			a(href="http:solopx.com")
				img.logo(src="#{assetsDev}logo.jpg")
		li.item.item04
			a(href="http:solopx.com")
				| home
		li.item.item05
			a(href="http:solopx.com")
				| home