include sectionMenu

section.concept
	.vCenter.cover
		h1 NEW CONCEPT
		p
			strong AMAZING FRAMEABLE POSTCARDS
			br
			| is concept meant to resurrect our fascination and love for the postcards,
			br
			|in a new, modern and catchy way.