section
	height: 100vh
	display: block
	width: 100%

section.scara
	position: relative
	background: pink
	height: 800px
	overflow: hidden
	img
		position: absolute
		top: 0
	.image01
		z-index: 2
		top: 40px
		left: 70%
		transform: translateX(-180px)
		width: 360px
	.image02
		z-index: 1
		top: 100px
		left: 65%
		transform: translateX(50px)
		width: 300px
	.image03
		z-index: 3
		top: 100px
		left: 20%
		transform: translateX(-150px)
		width: 300px
	.image04
		z-index: 4
		top: 40px
		left: 35%
		transform: translateX(-180px)
		width: 360px
	.image05
		z-index: 5
		left: 50%
		transform: translateX(-200px)
		width: 400px

