.concept
	height: 100vh
	position: relative
	//background: pink
	.vCenter
		position: absolute
		width: 100%
		height: 10em
		//border: 1px solid red
		top: 50%
		transform: translateY(-5em)


	h1, p

		text-align: center


.square.skrollable
	padding: 0 15px
	width: 100%
	h1, p
		width: 20%
		text-align: right
		margin-top: -40px

	h1
		font-size: 1.5em
		margin-left: 5%
	p
		font-size: 1em
		float: right
		text-align: left
		margin-right: 5%

.perspective.skrollable
	padding: 0 15px
	width: 100%
	h1, p
		width: 600px
		text-align: center
		transform: translateX(-300px)
		background: red

	h1
		font-size: 1.5em
		//margin-left: 5%
	p
		font-size: 1em
		float: right
		text-align: left
		margin-right: 5%


.skrollable
	position: fixed
	z-index: 100

.skrollable.images
	width: 100%
	//background: pink

.level4, .level3, .level2, .level1 
	z-index: 10
	.frame
		transform: translateX(-220px) translateY(-220px)
		width: 440px

.level4
	z-index: 10
.level3
	z-index: 13
.level2
	z-index: 12
.level1
	z-index: 11


.level0
	z-index: 9
	.image05
		transform: translateX(-200px) translateY(-200px)
		width: 400px
.level-1
	z-index: 4
	img
		width: 360px
		left: 50%
	.image03
		transform: translateX(-180px) translateY(-180px)
	.image04
		transform: translateX(-180px) translateY(-180px)


.level-2
	z-index: 3
	img
		width: 260px
		left: 50%
	.image01
		transform: translateX(-150px) translateY(-150px)
	.image02
		transform: translateX(-150px) translateY(-150px)
